body{
    background-color: rgb(16, 15, 15);
    margin: 0;
    margin-top: 41.6px;
    color: white;
    min-height: 100vh; /* 保證頁面高度至少等於視窗高度 */
    overflow-y: scroll; /* 強制顯示垂直滾動條 */
    }
    h1 {
        margin-left: 58px;
        
        color: white; /* 設置 h1 標題文字顏色為白色 */
    }
.picture{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    background-color: rgb(241, 237, 237);
    padding: 20px;
    width: 80%;
    max-width: 1000px;
    height: 350px;
    min-height: 300px;
    border-radius: 20px;
}
.picture img {
    width: 45%;
    height: auto; /* 讓圖片高度自動調整以保持比例 */
    max-height: 100%;
    object-fit: contain;
}

/* 第二個 .picture 容器 */
.picture + .picture {
    margin-top: 10px;
    gap: 10px;
}
#top{
    background-color: rgba(116, 116, 120, 0.726);
    position: fixed;
    top: 0%;
    width: 100%;
    padding: 10px;
}
#top ul{
    margin: 0;
    padding-left: 0;
    list-style: none;
}
#top ul li{
    display: inline-block;
    position: relative; /* 使下拉選單定位相對於父元素 */
}
#top ul li a{
    color: aliceblue;
    text-decoration: none;
    padding: 10px 40px;
}
#top ul li a:hover{
    color: rgb(207, 199, 81);
}
#top ul li.active a{
    background-color: rgb(131, 144, 157); 
}
/* 下拉式選單內容 */
.dropdown-content {
    display: none; /* 隱藏下拉選單 */
    position: absolute;
    background-color: rgba(66, 63, 63, 0.9); /* 白色背景 */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* 下拉選單項目 */
.dropdown-content li {
    display: block;
    text-align: left;
    }
    .dropdown-content li a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .dropdown-content li a:hover {
        color: rgb(207, 199, 81); /* 滑鼠懸停時的文字色 */
    }
        /* 滑鼠懸停顯示下拉選單 */
    .dropdown:hover .dropdown-content {
        display: block;
    }
    .modeling{
        display: flex; /* 使用 flexbox 布局 */
        justify-content: center; /* 水平居中圖片 */
        align-items: center; /* 垂直居中圖片 */
        margin: 20px auto; /* 讓容器上下距離 20px，並左右居中 */
        background-color: rgb(241, 237, 237); /* 容器背景為白色 */
        padding: 20px; /* 為容器添加內邊距 */
        width: 90%; /* 設置容器寬度為 80% */
        max-width: 1000px; /* 設定容器最大寬度 */
        height: 350px; /* 設置容器高度為 350px */
        border-radius: 20px; /* 使容器的四個角圓滑，倒角半徑為 20px */
    }
    .modeling img {
        width: 200%; /* 讓圖片寬度填滿容器 */
        height: 200px; /* 自動調整圖片的高度來保持比例 */
        max-height: 300px;
        object-fit: contain;
    }
    /* 第二個 .picture 容器 */
    .picture + .picture {
        margin-top: 10px; /* 增加第二個容器的上邊距，讓它與上一個容器之間有 10px 距離 */
        width: 300%; /* 讓圖片寬度填滿容器 */
        height: 230px; /* 自動調整圖片的高度來保持比例 */
        gap: 10px;
    }
.modeling:hover img {
    transform: scale(1.2);  /* 讓圖片輕微放大 */
}
    